<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name="de.joinnoah.pi.remote.NavigationTestActivity"
            android:exported="false" android:enableOnBackInvokedCallback="true" />
    </application>
</manifest>
